


.mobile-app-toggle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid #2f5753;
  border-radius: 0.625rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.mobile-app-toggle .button {
  background: #fefefe;
  color: #2f5753;
  opacity: .65;
  margin-bottom: 0;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.mobile-app-toggle .button:nth-child(n+1) {
  border-left: 1px solid #2f5753;
}

.mobile-app-toggle .button.is-active {
  background:#2f5753;
  color: #fefefe;
}

.button:hover {
  background:#2f5753;
  color: #fefefe;
  zoom: 1.03;
  opacity: 1
}
