


.mobile-app-toggle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid #1779ba;
  border-radius: 0.625rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.mobile-app-toggle .button {
  background: transparent;
  color: #1779ba;
  margin-bottom: 0;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.mobile-app-toggle .button:nth-child(n+1) {
  border-left: 1px solid #1779ba;
}

.mobile-app-toggle .button.is-active {
  background: #1779ba;
  color: #fefefe;
}

