





* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
 
}

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 30%;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 10px;
  
}
.column2 {
  float: left;
  
  
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.interests {
  font-size: 10px;

}





