.charity-form-control {
  margin: 30px auto;
  background-color:pink;
  width: 60%;
  height: 80%;
  z-index: 2;

  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  
  text-shadow: 0 0 3px lightgray;
}

input::placeholder {
  color: #777;
}

p {
  font-size: 20px;
}
.charity-form-back {
  background: rgba(238, 233, 233, 0.8);
  border-radius: 25px;
  border: 1px solid #888;
  
  width: 500px;
  height: 700px;
  
  margin: auto;

}


input[type="radio"] {
  margin-left: 120px;
  margin-right: 10px;
  size: 50px;
  
}
label {
  font-size: 20px;
  margin-left: 0;
}



