
body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}



.bck_black {
    background: #3c3c3c;
    height: 450px;
    overflow-y: scroll;
}
.footer_bck_black {
    background: #3c3c3c;
   
}
.bck_white {
    background: #ffffff;
}
.bck_red {
    background: #ff4800;
}
.bck_yellow {
    background: #ffa800;
}

.iconImage {
    width: 20px;
    margin-right: 10px;
}

.center_wrapper {
    width: 900px;
    margin:0 auto;
    z-index: 100;
}


/*====================
        HEADER
======================*/


header {
    padding:10px 0px;
    transition: all 300ms ease-in;
}

header .header_logo {
    flex-grow: 1;
}
header .header_logo_venue {
    font-size: 40px;
}

header .header_logo_title {
    text-transform: uppercase;
}

/*====================
        FOOTER
======================*/

footer {
    font-family: 'Quicksand', sans-serif;
    padding:30px 0px;
    text-align: center;
    font-size: 32px;
    color:#ffffff;
    background: #0e4e67;
    margin-left: 120px;
    position: fixed;
    width: 100%;
    bottom: 0;
    
    
    
    
    

}

footer .footer_copyright {
    font-size: 18px;
}




  
  .fourOhFour {
      text-align: center;
      color: white;

  }
  .centerW {
      background-color: #0e4e67;
      margin-top: 70px;
  }