no
body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}



.bck_black {
    background: #3c3c3c;
    height: 450px;
    overflow-y: scroll;
}
.footer_bck_black {
    background: #3c3c3c;
   
}
.bck_white {
    background: #ffffff;
}
.bck_red {
    background: #ff4800;
}
.bck_yellow {
    background: #ffa800;
}

.iconImage {
    width: 20px;
    margin-right: 10px;
}

.center_wrapper {
    width: 900px;
    margin:0 auto;
    z-index: 100;
}


/*====================
        HEADER
======================*/


header {
    padding:10px 0px;
    transition: all 300ms ease-in;
}

header .header_logo {
    flex-grow: 1;
}
header .header_logo_venue {
    font-size: 40px;
}

header .header_logo_title {
    text-transform: uppercase;
}

/*====================
        FOOTER
======================*/

footer {
    font-family: 'Quicksand', sans-serif;
    padding:30px 0px;
    text-align: center;
    font-size: 30px;
    color:#ffffff;
    background: #0e4e67;
    margin-left: 120px;
    position: fixed;
    width: 100%;
    bottom: 0;
    
    
    
    
    

}

footer .footer_copyright {
    font-size: 18px;
}

/*====================
        CARROUSEL
======================*/


.carrousel_wrapper {
    height:700px;
    overflow: hidden;
}

.carrousel_image {
    
    background-size: cover !important;
}

.artist_name {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 160px;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);   
    border: 2px solid white;
}

.artist_name .wrapper {
    border: 2px solid white;
    height: 121px;
    margin: 6px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding: 21px 70px 0px 70px;
    text-transform: uppercase;
}

/*====================
        COUNTDOWN
======================*/

.countdown_wrapper {
    position:absolute;
    bottom: 0px;
    color:#ffffff;
}

.countdown_wrapper .countdown_top {
    background: #ff4800;
    font-size: 19px;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
}

.countdown_wrapper .countdown_bottom {
    display: flex;
    background: #d93d00;
    padding: 10px 20px;
}

.countdown_wrapper .countdown_time {
    font-size: 70px;
    border-right: 1px solid #F44336;
    margin-right: 14px;
    padding-right: 49px;
}
.countdown_wrapper .countdown_item:last-child .countdown_time{
    border:none;
}

.countdown_wrapper .countdown_tag {
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 7px;
}

/*====================
        VENUE NFO
======================*/

.vn_wrapper {
    display: flex;
    padding: 100px 0px;
}

.event_vn_wrapper {
    display: flex;
    padding: 50px 0px;
}


.vn_item {
    display: flex;
    width:50%;
    color:#ffffff;
    text-align: center;
    
}
.event_vn_item {
    height: 500px;
    display: flex;
    width: 80%;
    color:#ffffff;
    text-align: center;
    overflow-y: scroll;
}
                      
.vn_item .vn_outer {
    
    width: 300px;
    border: 2px solid #828282;
    margin: auto;
    margin-left: 40px;
    padding: 5px;
}
.event_vn_item .event_vn_outer {
    
    width: 100%;
    border: 2px solid #828282;
    margin: auto;
    
    padding: 5px;
}

.vn_item .vn_inner { 
    
    border: 2px solid #828282;
    position: relative;
    padding: 0px 20px;
    transition: all 500ms ease;
}
.event_vn_item .event_vn_inner { 
    
    border: 2px solid #828282;
    position: relative;
    padding: 0px 20px;
    transition: all 500ms ease;
}

.vn_item .vn_inner:hover {
    background: #3e3e3e;
}

.vn_item .vn_icon_square {
    width: 75px;
    height: 75px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -54px;
    left: 100px;
}

.vn_item .vn_icon {
    width: 40px;
    height: 40px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: -32px;
    left: 117px;
}

.vn_item .vn_title {
    font-size: 28px;
    margin: 75px 0px 20px 0px;
    border-bottom: 1px solid #5d5d5d;
    padding-bottom: 10px;
}
.event_vn_item .event_vn_title {
    font-size: 40px;
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid #5d5d5d;
    padding-bottom: 10px;
}
 .event_sm_title {
    font-size: 24px;
    margin: 5px 0px 5px 0px;
   
    padding-bottom: 10px;
    color: white;
}

.vn_item .vn_desc {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 40px;
}
.event_vn_item .event_vn_desc {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}
.event_form-control {
    margin: 30 auto;
    background-color:#fff;
    
    z-index: 2;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    
    text-shadow: 0 0 3px lightgray;
  }

/*====================
        HIGHLIGHTS
======================*/


.highlight_wrapper h2 {
    text-align: center;
    text-transform: uppercase;
    color:#2c2c2c;
    font-size: 52px;
}

.highlight_wrapper .highlight_description {
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 30px 0px;
}

.discount_wrapper {
    display: flex;
    padding: 70px 0px;
}

.discount_wrapper .discount_porcentage {
    padding-right: 100px;
}

.discount_wrapper .discount_porcentage span:nth-child(1) {
    color: #ff4800;
    font-size: 125px;
    font-weight: 400;
    display: block;
    line-height: 120px;
}

.discount_wrapper .discount_porcentage span:nth-child(2) {
    color: #2c2c2c;
    font-size: 50px;
    font-weight: 400;
    display: block;
}


.discount_wrapper .discount_description h3 {
    font-size: 34px;
    font-weight: 100;
    margin: 0px;
    color: #2c2c2c;
}

.discount_wrapper .discount_description p { 
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
}

/*====================
        PRICING
======================*/

.pricing_section {
    padding: 70px 0px;
}


.pricing_section h2 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    margin: 0;
}

.pricing_wrapper {
    display: flex;
    flex-wrap: wrap;
}
.pricing_wrapper .pricing_item{
    flex-grow: 1;
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
}

.pricing_wrapper .pricing_inner_wrapper {
    border:2px solid #ffa800;
    padding: 50px 20px;
}

.pricing_inner_wrapper .pricing_title {
    color: #ffffff;
    text-align: center;
    border-bottom: 1px solid #ffa800;
    padding-bottom: 20px;
}
.pricing_inner_wrapper .pricing_title span:nth-child(1) {
    font-size: 50px;
    display: block;
}
.pricing_inner_wrapper .pricing_title span:nth-child(2) {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
}
.pricing_inner_wrapper .pricing_description {
    color: #b8b8b8;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding: 20px 0px;
    min-height: 70px;
}

.pricing_inner_wrapper .pricing_buttons {
     text-align: center;
}


/*====================
        LOCATION    
======================*/

.location_wrapper {
    position:relative;
}

.location_tag {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.location_tag div{
    background: #2c2c2c;
    color: #ffffff;
    text-transform: uppercase;
    width: 220px;
    margin: 0 auto;
    font-size: 29px;
    padding: 15px 20px;
    text-align: center;
}


/* For the foundation */


.contact-us-section {
    padding: 2rem;
    background: #fefefe;
  }
  
  .contact-us-section .contact-us-section-left {
    padding-right: 2rem;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  
  @media print, screen and (min-width: 40em) {
    .contact-us-section .contact-us-section-left {
      border-right: 1px solid #e6e6e6;
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  
  .contact-us-section .contact-us-section-right {
    padding-left: 2rem;
  }
  
  @media print, screen and (min-width: 40em) {
    .contact-us-section .contact-us-section-right {
      border-left: 1px solid #e6e6e6;
    }
  }
  
  .contact-us-section .contact-us-header {
    margin-bottom: 2rem;
  }
  
  @media screen and (min-width: 40em) and (max-width: 74.9375em) {
    .contact-us-section .contact-us-header {
      font-size: 32px;
    }
  }
  
  .contact-us-section .responsive-embed {
    margin-bottom: 0;
    padding-bottom: 55%;
  }
  
  .contact-us-form input[type=text],
  .contact-us-form input[type=email],
  .contact-us-form textarea {
    margin-bottom: 1.5rem;
  }
  
  .contact-us-form-actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .contact-us-form-actions input[type=submit] {
    border-radius: 5000px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .contact-us-form-actions .contact-us-file-button {
    background: transparent;
    color: #8a8a8a;
  }
  
  .contact-us-list {
    list-style-type: none;
    margin: 0;
  }
  
  .contact-us-list li a {
    color: #0a0a0a;
  }
  
  .contact-us-list li::before {
    margin-right: 2rem;
    font-size: 2rem;
    vertical-align: middle;
    color: #8a8a8a;
    font-family: 'FontAwesome';
  }
  
  .contact-us-list .address::before {
    content: '\f041';
    margin-left: 0.4rem;
    margin-right: 2.3rem;
  }
  
  .contact-us-list .email::before {
    content: '\f003';
  }
  
  .contact-us-list .phone::before {
    content: '\f098';
  }
  
  .fourOhFour {
      text-align: center;
      color: white;

  }
  .centerW {
      background-color: #0e4e67;
      margin-top: 70px;
  }